/* 
    Created on : 17/12/2017, 18:21:27
    Author     : alberto
*/

/*se utiliza para ajustar el background a la totalidad de la pantalla*/
.background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
}

.stretch {
    width:100%;
    height:100%;
}