/* 
    Created on : 17/12/2017, 18:21:27
    Author     : alberto
*/
@import "fuentes/stylesheet.css";

/*se utiliza para ajustar el background a la totalidad de la pantalla*/
html {
  background: url("../img/6/6.jpg") no-repeat center top;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
}

.stretch {
    width:29%;
    height:28%;
}

.columnas{
    display:inline-block;
    margin-top: 39%;
    padding-left: 13%
}

.columnas2{
    display:inline-block;
    margin-top: 10%;
    padding-left: 13%
}

.columnas3{
    display:inline-block;
    margin-top: 10%;
    padding-left: 13%
}

.contenedor_hopes {
    position: absolute;
    top: 17%;
    left: 50%;
    color: white;
    font-family: 'Air Americana';
    font-size: 12px;
}