/* 
    Created on : 17/12/2017, 18:21:27
    Author     : alberto
*/

@import "fuentes/stylesheet.css";

/*se utiliza para ajustar el background a la totalidad de la pantalla*/
html {
  background: url("../img/modo_market/buscar_local.jpg") no-repeat center top;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
}

.stretch {
    width:100%;
    height:100%;
}

.columnas{
    display:inline-block;
    margin-top: 45%;
}

.columnas2{
    display:inline-block;
    margin-top: 5px;
}

.contenedor_hopes {
    position: absolute;
    top: 10.5%;
    left: 50%;
    color: white;
    font-family: 'Air Americana';
    font-size: 24px;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}